@charset "utf-8";
/* CSS Document */

* {
    padding: 0;
	margin:0 ;
}

body,html{
	font-family:Arial, Helvetica, sans-serif;
}

.container {
  max-width: 100%;
  overflow: hidden;
}

.wrapper {
  display: flex;
  margin: 0 auto;
}

header{
    text-align: center;
	border-bottom:#bfbfbf 2px solid;
}

.title {
	margin: 20px 20px;
	text-align: left;
	display: flex;
	justify-content: space-between;
}

.itemadded{
	/*background-color: green;*/
	border-radius: 5px;
	padding: 10px;
	color: white;
}
.cards-container{
	flex: 0 0 70%;
    max-width: 70%;
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	/*justify-content: center;*/
}

.card{
	background-color: #fff;
        border-radius: 1px;
       /* -webkit-filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.2));
        filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.2));*/
        padding: 0px;
        text-align: center;
		margin: 10px;
		border: solid 1px #ccc;
}

.card-image {
	max-width: 250px;
	max-height: 350px;
	height: auto;
}

.card-header {
	position: relative;
}
.card-offer {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 10px;
	font-weight: bold;
	padding: 5px 10px;
	color: white;
	background-color: forestgreen;
}

.card-footer{
	background-color: #eee;
	padding: 10px 5px;
	text-align: left;
	
}
.footer-items{
	font-size: 12px;
	display: flex;	
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 10px;
}

.footer-item{
	padding-top: 15px;
	font-weight: bold;
}

.footer-item span{
	text-decoration: line-through;
	-moz-text-decoration-color: darkred;
	text-decoration-color: red;
	text-decoration-thickness: 2px;
	padding-right: 10px;
	font-weight: normal;
}


.add-cart{
	padding-right: 10px;
}
.card:before {
    content:'';
    padding-top:100%;
}


.button{
	padding: 5px;
	margin: 2px;
	font-size: 14px;
	border: #2b8ead 1px solid;
	color: #2b8ead;
    border-radius: 2px;
    text-align: center;
	cursor: pointer;
	
}
.plus, .minus{
	padding: 2px 5px;
	margin: 2px 5px;
	font-size: 14px;
	border: #2b8ead 1px solid;
	color: #2b8ead;
    border-radius: 2px;
    text-align: center;
	cursor: pointer;
	width: 30px;	
}

.button:active{
    /*box-shadow: 0px 1px 2px 1px #2b8ead; */   
}

footer{
    text-align: center;
    padding: 20px 0;
	font-size:10px;
	font-style: oblique;
}

.cart-table{
	width: 100%;
	font-size: 14px;
	text-align: left;
	padding: 10px 10px;
	border-top: lightgray 1px solid;
	border-bottom: lightgray 1px solid;
	margin-top: 20px;
}

.total-table{
	width: 100%;
	font-size: 14px;
	text-align: left;
	padding: 10px 10px;
	border: lightgray 1px solid;
	margin-top: 20px;
}

.cart-table td, .total-table td{
	padding: 5px;
}

.total-table td:last-of-type {
	text-align: right;
	padding-right: 20px;
}

.total-table tr:last-of-type {
    background-color: lightpink;
}

.cart-table th{
	border-bottom: lightgray 1px solid;
	padding-left:20px ;
	padding-bottom: 10px;
}

.cart{
    flex: 0 0 30%;
    max-width: 30%;
	margin-top: 15px;
	right: 10px;
	text-align: center;
	background-color: #efefef;
	
}

@media only screen and (max-width: 768px) {
	.cart{
		flex: 0 0 50%;
		max-width: 50%;
		
	}
	.cards-container{
		flex: 0 0 5%;
		max-width: 50%;
	}

}


@media only screen and (max-width: 600px) {
	.wrapper {
		width: 100%;
		flex-direction: column-reverse;
		background-color: #fff;
		flex-wrap: nowrap;
    }
    
	header{
		background-color: #333333;
		color:#fff;
        padding: 5px 0;
    }
    
	.cards-container {
		    flex: 0 0 90%;
			max-width: 90%;
			align-items: center;
			margin: 0 5%;
    }
    
	.card {
		flex: 0 0 100%;
		max-width: calc(100% - 20px);
		font-size: 20px;
		color: #000;
		padding: 10px 0;
		margin-bottom: 5px;
		font-weight: normal;	
    }
    
    
	.card:before {
		padding-top:0;
    }
    
	.cart {
		flex: 0 0 100%;
		max-width: 100%;
		margin: 12px 0;
    }    
	.button {
		width: 100%;
    }
}